<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="fhir-ui-sample.ZPM">
    <Module>
      <Name>fhir-ui-sample</Name>
      <Version>1.0.0</Version>
      <Description>Sample frontend for FHIR application</Description>
      <Keywords>FHIR,Frontend</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="fhirapp.PKG"/>
      <CSPApplication
          Name="/web"
          Directory="${cspdir}/fhirapp"
          Url="/fhirapp"
          MatchRoles=":${dbrole}"
          Recurse="1"
          ServeFiles="1"
          UnauthenticatedEnabled="1"
          PasswordAuthEnabled="0"
          UseSessionCookie="2"
      />
      <CSPApplication
          Name="/web"
          Directory="${cspdir}/fhirapp"
          Url="/fhirapp/api"
          DispatchClass="fhirapp.API"
          MatchRoles=":%All"
          Recurse="1"
          ServeFiles="1"
          UnauthenticatedEnabled="1"
          PasswordAuthEnabled="0"
          UseSessionCookie="2"
      />
   </Module>
  </Document>
</Export>